.logo {
  font-family: "Lucida Console", Monaco, monospace;
  letter-spacing: 8px;
  margin-left: 40px;
}

.biglogo {
  color: white;
  font-size: 1000%;
  font-family: "Lucida Console", Monaco, monospace;
  letter-spacing: 20px;
  text-align: center;
  position: fixed;
  margin-top: 7%;
  transition-duration: 4s;
}

.biglogo:hover {
  background: url(https://data.whicdn.com/images/62593788/original.gif) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition-duration: 2s;
}

.money {
  background: url(https://data.whicdn.com/images/62593788/original.gif) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  background-clip: text;
  -webkit-background-clip: text;
  color:transparent;
  font-size: 300px;
  text-align: center;
}

.about {
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
  letter-spacing: 1px;
  text-align: center;
  font-size: 20px;
}

.background {
  display: flex;
  flex-direction: row;
  background: rgba(248,80,50,1);
  background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(242,105,84,1) 29%, rgba(241,111,92,1) 36%, rgba(246,41,12,1) 64%, rgba(242,45,19,1) 76%, rgba(240,47,23,1) 84%, rgba(231,56,39,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(29%, rgba(242,105,84,1)), color-stop(36%, rgba(241,111,92,1)), color-stop(64%, rgba(246,41,12,1)), color-stop(76%, rgba(242,45,19,1)), color-stop(84%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
  background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(242,105,84,1) 29%, rgba(241,111,92,1) 36%, rgba(246,41,12,1) 64%, rgba(242,45,19,1) 76%, rgba(240,47,23,1) 84%, rgba(231,56,39,1) 100%);
  background: -o-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(242,105,84,1) 29%, rgba(241,111,92,1) 36%, rgba(246,41,12,1) 64%, rgba(242,45,19,1) 76%, rgba(240,47,23,1) 84%, rgba(231,56,39,1) 100%);
  background: -ms-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(242,105,84,1) 29%, rgba(241,111,92,1) 36%, rgba(246,41,12,1) 64%, rgba(242,45,19,1) 76%, rgba(240,47,23,1) 84%, rgba(231,56,39,1) 100%);
  background: linear-gradient(to bottom, rgba(248,80,50,1) 0%, rgba(242,105,84,1) 29%, rgba(241,111,92,1) 36%, rgba(246,41,12,1) 64%, rgba(242,45,19,1) 76%, rgba(240,47,23,1) 84%, rgba(231,56,39,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=0 );
  background-size: 100% 100%;
  height: 1200px;
  justify-content: center;
}

.landing {
  transition-duration: .8s; 
  text-align: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px rgb(207, 68, 43);
  font-family: "Lucida Console", Monaco, monospace;
  text-decoration: none;
  background-color: transparent;
  justify-content: space-evenly;
  margin-left: 20%;
  margin-right: 20%;
}

.landing1 {
  position: fixed;
  bottom: 20%;
  right: 0;
  font-size: 400%;
}

.landing2 {
  position: fixed;
  bottom: 20%;
  left: 0;
  font-size: 400%;
}

.landing:hover {
  text-shadow: 8px 2px rgb(207, 68, 43);
  font-size: 410%;
}

.body {
  margin-top: 5%
}

.makepost {
  background-color: lightblue;
  text-align: center;
  margin: 15px;
}

.post:hover {
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}

.post {
  background-color: lightgray;
  margin: auto;
  text-align: center;
  padding: 20px;
  margin-bottom: 7px; 
  width: 50%;
  height: 80px;
}

.icon {
  color: white;
  background: red;
  display: inline-block;
  width: 20%;
  height: 0;
  padding: 10% 0;
  border-radius: 50%;
  text-align: center;
  margin-left: 40%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.container {
  width: 80%;
  background-color: lightgoldenrodyellow;
}

.paycontainer {
  width: 80%;
  margin: auto;
  margin-top: 1%; 
  padding: 1%;
  background-color: rgb(56, 56, 56);
  color: white;
  border-radius: 20px;
  font-family: "Lucida Console", Monaco, monospace;
}

.billcontainer {
  width: 80%;
  margin: auto;
  margin-top: 1%; 
  padding: 1%;
  background-color: rgba(248,80,50,1);
  color: white;
  border-radius: 20px;
  font-family: "Lucida Console", Monaco, monospace;
  overflow-wrap: normal;
}

.space {
  margin-left: 30px;
}

.input_draft {
  width: 60%;
  border-radius: 5px;
  margin-left: 20%;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
}

.comment {
  opacity: 0.7;
  text-align: center;
}

.title {
  color: white;
  margin: auto;
  text-align: center;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: bold;
}

.paybutton {
  border-radius: 10px;
  border: 1px;
  padding: 1%;
  background-color: rgb(56, 56, 56);
  color: white;
  text-shadow: 2px 2px rgb(207, 68, 43);
  font-family: "Lucida Console", Monaco, monospace;
  text-decoration: none;
  width: 96.5%;
  margin: 2%;
  align-items: center;
}

.dropdown_title {
  border-radius: 10px;
  border: 0px;
  background-color: white;
  color: rgba(248,80,50,1);
  text-shadow: .5px 1px rgb(207, 68, 43);
  font-family: "Lucida Console", Monaco, monospace;
  text-decoration: none;
  width: 40%;
  margin-left: 30%;
  text-align: center;
}

.dropdown {
  font-size: smaller;
  border-radius: 10px;
  border: 0px;
  background-color: white;
  color: rgba(248,80,50,1);
  text-shadow: .5px 1px rgb(207, 68, 43);
  font-family: "Lucida Console", Monaco, monospace;
  text-decoration: none;
  width: 40%;
  margin-left: 30%;
  text-align: center;
  opacity: 0.7;
}

.payform {
  border-radius: 10px;
  background-color:rgb(56, 56, 56);
}

.likebutton {
  border-radius: 10px;
  border: 1px;
  padding: 1%;
  background-color: rgba(248,80,50,1);
  color: white;
  text-shadow: 2px 2px rgb(56, 56, 56);
  font-family: "Lucida Console", Monaco, monospace;
  text-decoration: none;
  margin: 2%;
  width: 60%;
  text-align: center; 
  margin-left: 20%;
}

.logout {
  border-radius: 10px;
  border: 1px;
  padding: 1%;
  background-color: rgba(248,80,50,1);
  color: white;
  text-shadow: 2px 2px rgb(56, 56, 56);
  font-family: "Lucida Console", Monaco, monospace;
  text-decoration: none;
  margin: 2%;
  width: 80%;
  text-align: center; 
  margin-left: 10%;
}

.input {
  border-radius: 10px;
  padding: .5%;
  background-color:white;
  color: rgba(248,80,50,1);
  font-family: "Lucida Console", Monaco, monospace;
  text-decoration: none;
  margin-left: 20%; 
  overflow-wrap: normal;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 60%;
  text-align: center;
}

.postbillbutton {
  border-radius: 10px;
  padding: .5%;
  background-color:white;
  color: rgba(248,80,50,1);
  text-shadow: 1px 1px rgb(207, 68, 43);
  font-family: "Lucida Console", Monaco, monospace;
  text-decoration: none;
  margin-left: 20%; 
  overflow-wrap: normal;
  width: 60%;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
}

.link {
  color: white;
  text-shadow: 2px 2px rgb(207, 68, 43);
  font-family: "Lucida Console", Monaco, monospace;
  text-decoration: none;
}
